<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Container pull/start progress is useful; the docker-java wire logs are not. -->
        <Logger name="org.testcontainers" level="INFO"/>
        <Logger name="com.github.dockerjava" level="WARN"/>
        <Logger name="org.apache.flink" level="WARN"/>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
